<footer class="footer">
  <div class="container">
    <div class="col-lg-12">
      <small>Conception et réalisation de l'univers graphique par www.mixigram.com - © Startup Trampolino 2015 </small>
    </div>
  </div>
</footer>
